@charset "UTF-8";

/* form.css */
.form-register-title {
	display: flex;
	justify-content: center;
}

.form-input {
	border-radius: 5px;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 95%;
}
.form-submit-container {
	display: flex;
	justify-content: center;
}

.form-submit {
	margin-top: 5px;
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.form-submit:hover {
	background-color: #45a049;
}