<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>powerchord</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegistrationServlet</display-name>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>com.powerchord.servlets.user.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/UserRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.powerchord.servlets.user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.powerchord.filters.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGenreServlet</display-name>
    <servlet-name>CreateGenreServlet</servlet-name>
    <servlet-class>com.powerchord.servlets.genre.CreateGenreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGenreServlet</servlet-name>
    <url-pattern>/CreateGenreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllGenresServlet</display-name>
    <servlet-name>GetAllGenresServlet</servlet-name>
    <servlet-class>com.powerchord.servlets.genre.GetAllGenresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllGenresServlet</servlet-name>
    <url-pattern>/GetAllGenresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllRolesServlet</display-name>
    <servlet-name>GetAllRolesServlet</servlet-name>
    <servlet-class>com.powerchord.servlets.role.GetAllRolesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRolesServlet</servlet-name>
    <url-pattern>/GetAllRolesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRoleServlet</display-name>
    <servlet-name>CreateRoleServlet</servlet-name>
    <servlet-class>com.powerchord.servlets.role.CreateRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRoleServlet</servlet-name>
    <url-pattern>/CreateRoleServlet</url-pattern>
  </servlet-mapping>
</web-app>